<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="./data/logs/application.log" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="com.thordickinson.dumbcrawler.DumbCrawler" level="INFO" />
    <logger name="com.thordickinson.dumbcrawler.DumbCrawler.error" level="OFF" />
    <logger name="com.thordickinson.dumbcrawler.services.URLStore" level="INFO" />
</configuration>