<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="com.thordickinson.dumbcrawler.DumbCrawler" level="INFO" />
    <logger name="com.thordickinson.dumbcrawler.DumbCrawler.error" level="OFF" />
    <logger name="com.thordickinson.dumbcrawler.services.URLStore" level="INFO" />
    <logger name="com.thordickinson.dumbcrawler.services.LinkFilter" level="INFO" />
    <logger name="com.thordickinson.dumbcrawler.services.renderer.ContentRenderer" level="INFO" />
    <logger name="com.thordickinson.dumbcrawler.services.storage.WarcStorageManager" level="WARN" />
    <logger name="com.thordickinson.dumbcrawler.services.CrawlingTaskCallable" level="WARN" />
</configuration>